@use '../colors';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: colors.$accent;
  padding: 10px 0px;

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .footer__link-img {
      font-size: 24px;
    }
  }
}
